%h2 Klantenlisting
%form.simple_form
  .input.date
    %label Van
    = text_field_tag :van, @van.to_s, :name => 'van'
  .input.date
    %label Tot
    = text_field_tag :tot, @tot.to_s, :name => 'tot'
  .input.numeric
    %label Met minimum omzet
    = text_field_tag :minimum, @minimum.to_s, :name => 'minimum'
  .input.submit
    = submit_tag "vernieuwen"
%table
  %thead
    %tr
      %th ID
      %th Klant Naam
      %th Klant BTW
      %th InvoiceCount
      %th Omzet (excl BTW)
      %th BTW
  %tbody
    - @grouped_invoices.each do |contact_id, invoices|
      - contact = @contacts.detect {|c| c.id == contact_id} || Contact.find(contact_id) # Find needed for hidden contacts
      %tr
        %td= contact_id
        %td= contact.to_s
        %td= contact.sales_tax_registration_number
        %td.align_right= invoices.count
        %td.align_right= number_to_currency invoices.inject(0) { |sum, i| sum + i.net_value }
        %td.align_right= number_to_currency invoices.inject(0) { |sum, i| sum + i.sales_tax_value }
  %tfoot
    %tr
      %th{colspan: 3} Totaal
      %th.align_right= @invoices.count
      %th.align_right= number_to_currency @invoices.inject(0) { |sum, i| sum + i.net_value }
      %th.align_right= number_to_currency @invoices.inject(0) { |sum, i| sum + i.sales_tax_value }