<!DOCTYPE html>
<html>
<head>
  <title>Freebeeagent</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'home/topnav' if user_signed_in? %>
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert"><%= alert %></div>
  <% end %>
  <div id="main">
    <%= yield %>
  </div>

</body>
</html>